In [2]:
import pandas as pd

In [11]:
df=pd.read_csv(r"C:\Users\admin\Downloads\anaconda\D1.csv",sep='|', header=0)

In [12]:
df

  D,ABC Inc,India,100
0   D,XYZ Inc,USA,250
1     D,ASD Inc,UK,50

In [6]:
df=pd.read_csv(r"C:\Users\admin\Downloads\anaconda\D2.csv")

In [7]:
df

Empty DataFrame
Columns: [T, 3, 400]
Index: []

In [13]:
df=pd.read_csv(r"D:\OlympicAthletes.csv")

In [14]:
df

,Athlete,Country,Year,Sport,Gold,Silver,Bronze,Total
0,Yang Yilin,China,2008,Gymnastics,1,0,2,3
1,Leisel Jones,Australia,2000,Swimming,0,2,0,2
2,Go Gi-Hyeon,South Korea,2002,Short-Track Speed Skating,1,1,0,2
3,Chen Ruolin,China,2008,Diving,2,0,0,2
4,Katie Ledecky,United States,2012,Swimming,1,0,0,1
5,Ruta Meilutyte,Lithuania,2012,Swimming,1,0,0,1
6,Dániel Gyurta,Hungary,2004,Swimming,0,1,0,1
7,Arianna Fontana,Italy,2006,Short-Track Speed Skating,0,0,1,1
8,Olga Glatskikh,Russia,2004,Rhythmic Gymnastics,1,0,0,1
9,Kharikleia Pantazi,Greece,2000,Rhythmic Gymnastics,0,0,1,1
10,Kim Martin,Sweden,2002,Ice Hockey,0,0,1,1
11,Kyla Ross,United States,2012,Gymnastics,1,0,0,1
12,Gabriela Dragoi,Romania,2008,Gymnastics,0,0,1,1
13,Tasha Schwikert-Warren,United States,2000,Gymnastics,0,0,1,1
14,Yang Yun,China,2000,Gymnastics,0,0,1,1
15,Sophie Lamon,Switzerland,2000,Fencing,0,1,0,1
16,Alejandra Orozco,Mexico,2012,Diving,0,1,0,1
17,Yuliya Koltunova,Russia,2004,Diving,0,1,0,1
18,Shawn Johnson,United States,2008,Gymnastics,1,3,0,4
19,Carly Patterson,United States,2004,Gymnastics,1,2,0,3
20,Catalina Ponor,Romania,2004,Gymnastics,3,0,0,3
21,Ye Shiwen,China,2012,Swimming,2,0,0,2
22,Cate Campbell,Australia,2008,Swimming,0,0,2,2
23,Diana Mocanu,Romania,2000,Swimming,2,0,0,2
24,Megan Quann-Jendrick,United States,2000,Swimming,2,0,0,2
25,Gabby Douglas,United States,2012,Gymnastics,2,0,0,2
26,McKayla Maroney,United States,2012,Gymnastics,1,1,0,2
27,He Kexin,China,2008,Gymnastics,2,0,0,2
28,Anna Pavlova,Russia,2004,Gymnastics,0,0,2,2
29,Dana Sofronie,Romania,2004,Gymnastics,1,1,0,2
...,...,...,...,...,...,...,...,...
8588,Rafael Soto,Spain,2004,Equestrian,0,1,0,1
8589,Ian Stark,Great Britain,2000,Equestrian,0,1,0,1
8590,Carolyn Darbyshire-McRory,Canada,2010,Curling,0,1,0,1
8591,Harald Stenvaag,Norway,2000,Shooting,0,0,1,1
8592,Kevin Burnham,United States,2004,Sailing,1,0,0,1
8593,Peter Thomsen,Germany,2008,Equestrian,1,0,0,1
8594,Mary Thomson-King,Great Britain,2008,Equestrian,0,0,1,1
8595,Luiz Felipe de Azevedo,Brazil,2000,Equestrian,0,0,1,1
8596,Willi Melliger,Switzerland,2000,Equestrian,0,1,0,1
8597,Robert Dover,United States,2004,Equestrian,0,0,1,1
8598,Rajmond Debevec,Slovenia,2012,Shooting,0,0,1,1
8599,Will Simpson,United States,2008,Equestrian,1,0,0,1
8600,Debbie McDonald,United States,2004,Equestrian,0,0,1,1
8601,Russ Howard,Canada,2006,Curling,1,0,0,1
8602,Andrew Nicholson,New Zealand,2012,Equestrian,0,0,1,1
8603,Jean Teulère,France,2004,Equestrian,1,0,0,1
8604,Peter Thomsen,Germany,2012,Equestrian,1,0,0,1
8605,Mary Thomson-King,Great Britain,2012,Equestrian,0,1,0,1
8606,Ilario Di Buò,Italy,2008,Archery,0,1,0,1
8607,Lesley Thompson-Willie,Canada,2012,Rowing,0,1,0,1
8608,Peter Charles,Great Britain,2012,Equestrian,1,0,0,1
8609,Nick Skelton,Great Britain,2012,Equestrian,1,0,0,1
8610,Mac Cone,Canada,2008,Equestrian,0,1,0,1
8611,Mark Todd,New Zealand,2012,Equestrian,0,0,1,1
8612,Ian Millar,Canada,2008,Equestrian,0,1,0,1
8613,NaN,Brazil,2012,Volleyball,0,1,0,1
8614,NaN,Brazil,2012,Volleyball,0,1,0,1
8615,NaN,Brazil,2012,Volleyball,0,1,0,1
8616,NaN,Argentina,2012,Hockey,0,1,0,1
8617,NaN,Argentina,2012,Hockey,0,1,0,1